{{define "content"}}
<article class="grid">
  <div>
    <h1>About twtxt</h1>
    <p>
      twtxt is a <a href="https://twtxt.readthedocs.io/en/latest/">twtxt</a>
      client in the form of a web application. This is a hosted instance where
      you can signup to create an account and starting posting and following feeds
      of others, bots or news sources.
    </p>
    <p>
      The <a href="/timeline">/timeline</a> view displays the latest posts of
      users on this instance. Since <i>twtxt</i> itself is a federated and
      decentralised micro-blogging format there is no "global" timeline.
    </p>
    <p>
      There is also a builtin <a href="/registry/v1">/registry</a> and <a href="/api/v1">/api</a> that serves as a registry and search
      endpoint for keyword and mentions and direct API access to this instance.
    </p>
  </div>
</article>
{{end}}
