{{define "content"}}
  <article class="grid">
    <div>
      <p>
        This is aimed to be the world's simplest privacy policy.
        This document should explain to you why the app collects some
        information, what happens when your account is deleted and some other
        frequently asked questions answered regarding your privacy.
        <br />
        If you have any more questions, please raise an issue regarding
        the same on GitHub and I'll answer as honest and quickly as possible :)
      </p>

      <details>
        <summary>What identifiable information is stored about me?</summary>
        <p>
          Your username/nickname and your email address is stored along with
          your user information, and of course. You won't even get any
          marketing emails, feature updates, newsletters, notification emails,
          nothing.
        </p>
      </details>

      <details>
        <summary>How is this all free? There must be a catch!</summary>
        <p>
          Absolutely no catch to this freebie. This project is just my way of
          giving back to the community that I've learned so much from. If you'd
          like to show your appreciation however, you can follow me on my social
          media and let me know how much it helped you, or donate to help pay
          the cloud bills, or if you are a fellow developer, you can head to
          GitHub and contribute to the code by raising a PR.
        </p>
      </details>
    </div>
  </article>
{{end}}
