{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h1>Sign up</h1>
        <h2>Create and register a new twtxt account on {{ .InstanceName }}</h2>
      </hgroup>
      <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" required>
        <input type="email" name="email" placeholder="Email address" aria-label="Email">
        <small>We'll never share your email address. Used for password recovery only.</small>
        <button type="submit" class="contrast">Register</button>
        <p>Already have an account? <a href="/login">Login</a> instead.</p>
      </form>
    </div>
    <div></div>
  </article>
{{end}}
